@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css";

@import "nativewind/theme";

@source "./**/*.{ts,tsx}";

@theme {
  --color-background: #ffffff;
  --color-foreground: #000000;
  --color-card: #ffffff;
  --color-card-foreground: #000000;
  --color-primary: #000000;
  --color-primary-foreground: #ffffff;
  --color-secondary: #f4f4f5;
  --color-secondary-foreground: #18181b;
  --color-muted: #f4f4f5;
  --color-muted-foreground: #71717a;
  --color-accent: #f4f4f5;
  --color-accent-foreground: #18181b;
  --color-destructive: #ef4444;
  --color-border: #e4e4e7;
  --color-input: #e4e4e7;
  --color-ring: #000000;
}

.dark {
  --color-background: #000000;
  --color-foreground: #ffffff;
  --color-card: #000000;
  --color-card-foreground: #ffffff;
  --color-primary: #ffffff;
  --color-primary-foreground: #000000;
  --color-secondary: #27272a;
  --color-secondary-foreground: #fafafa;
  --color-muted: #27272a;
  --color-muted-foreground: #a1a1aa;
  --color-accent: #27272a;
  --color-accent-foreground: #fafafa;
  --color-destructive: #7f1d1d;
  --color-border: #27272a;
  --color-input: #27272a;
  --color-ring: #d4d4d4;
}
